/* Global "table" column settings */
.product-image {
  float: left;
  width: 20%;
}
.product-details {
  float: left;
  width: 37%;
}
.product-price {
  float: left;
  width: 12%;
}
.product-quantity {
  float: left;
  width: 10%;
}
.product-removal {
  float: left;
  width: 9%;
}
.product-line-price {
  float: left;
  width: 12%;
  text-align: right;
}

.cart-top {
    background-color: rgb(252, 239, 216);
  width: 80%;
  margin: 10rem auto;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.h1 {
  font-size: 3em;
  margin-bottom: 20px;
  padding: 45px;
  margin: 20px;
}

label {
  color: #333;
}

.shopping-cart {
  margin-top: 45px 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}
.line {
  border-bottom: 2px solid #000;
  width: 100%;
  margin-bottom: 20px;
}

/* Column headers */
.column-labels label {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

/* Product entries */
.product {
    display: flex;
    justify-content: center;
    align-items: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.product .product-image {
  text-align: center;
}

.product .product-image img {
  width: 100px;
}

.product .product-details .product-title {
  margin-right: 20px;
  font-family: "YourBoldFont", sans-serif;
}

.product .product-details .product-description {
  margin: 5px 20px 5px 0;
  line-height: 1.4em;
}

.product .product-quantity input {
  width: 40px;
}

.product .remove-product {
  border: 0;
  padding: 4px 8px;
  background-color: #c66;
  color: #fff;
  font-family: "YourBoldFont", sans-serif;
  font-size: 12px;
  border-radius: 3px;
}

.product .remove-product:hover {
  background-color: #a44;
}

.checkout {
  float: right;
  border: 0;
  margin: 20px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}

.checkout:hover {
  background-color: #494;
}
.btn-grp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}



/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
  .shopping-cart {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid #ddd;
  }

  .column-labels {
    display: none;
  }

  .product-image {
    float: right;
    width: auto;
  }

  .product-image img {
    margin: 0 0 10px 10px;
  }

  .product-details {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }

  .product-price {
    clear: both;
    width: 70px;
  }

  .product-quantity {
    width: 100px;
  }

  .product-quantity input {
    margin-left: 20px;
  }

  .product-quantity:before {
    content: "x";
  }

  .product-removal {
    width: auto;
  }

  .product-line-price {
    float: right;
    width: 70px;
  }
}

/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
  .product-removal {
    float: right;
  }

  .product-line-price {
    float: right;
    clear: left;
    width: auto;
    margin-top: 10px;
  }

  .product .product-line-price:before {
    content: "Item Total: $";
  }

  .totals .totals-item label {
    width: 60%;
  }

  .totals .totals-item .totals-value {
    width: 40%;
  }
}
