* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hotel-info {
  background-color: rgb(252, 239, 216);
  border-radius: 15px;
  padding: 20px;
  width: 80%;
  margin: 0px auto;
  margin-top: 20vh;
}
.hotel {
  background-color: rgb(252, 239, 216);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  margin: 0px auto;
  /* margin-top: 20vh; */
}
.MenuS1 {
  background-color: rgba(242, 242, 242, 0.728);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}
.MenuS1-right {
  display: flex;
  background-color: rgb(209, 206, 206);
  border: 2px solid grey;
  justify-content: center;
  align-items: center;
  width: 20rem;
  border-radius: 8px;
}
.MenuS1-right h3 {
  border-radius: 10px;
  padding: 5px 5px;
  margin: 2px;
  width: 100%;
}

.MenuS1 img {
  max-width: 100px;
  margin-left: 20px;
  border-radius: 10px;
  padding: 3px;
}

.MenuS2 {
  background-color: rgba(242, 242, 242, 0.728);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px;
}
.menu {
  box-shadow: 3px 5px 12px 0px rgba(0,0,0,0.2);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(242, 242, 242, 0.728);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  margin: 20px auto;
}


.menu h3 {
  font-size: 18px;
  font-weight: 500;
  color: rgb(52, 52, 52);
}
.menu

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column  ;
}

.items ul li {
    margin-top: 20px;
  border-radius: 15px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
}

.img img {
  object-fit: contain;
  border: 2px solid black;
  width: 80%;
  aspect-ratio: 1/1;
  margin: 0px auto;
  border-radius: 15px;
  /* height: 15vh; */
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hotel ul {
  list-style: none;
  padding: 0;
}

.hotel li {
  list-style: none;
  font-size: 16px;
  margin-bottom: 10px;
}
/* .btn-1 {
    position: absolute;
    top: 50px;
    left: 12px;
    background-color: rgb(233, 150, 7);
    border: none;
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 15px auto;
    height: 40px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
  } */