* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.user-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: hidden;
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  border-radius: 15px;
}
.info1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 2fr 3fr;
  border-radius: 15px;
  align-items: center;
  background-color: rgba(240, 248, 255, 0.904);
  border: 2px solid black;
  width: 40%;
  height: 50vh;
}

.myimage img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
  padding: 5px;
  width: 83%;
  height: 100%;

  border-radius: 15px;
}

.detail {
  border: 2px solid black;
}




 .btn-i {
  width: 50%;
  background-color: rgb(233, 150, 7);
  border: none;
  cursor: pointer;
  margin: 15px auto;
  height: 40px;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: bold;
}

.btn-i:hover {
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.4);
  border: 2px solid rgb(233, 150, 7);
  transform: scale(1.1);
  transition: background-color 0.1s;
}  
a{
  text-decoration: none;
color: white;
}
h5{
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  font-weight: 200;
  color: rgb(92, 92, 92);
}
@media screen and (max-width: 820px) {
  .info1 {
    width: 100%;
  }

  .btn-i {
    width: 100%;
  }
}